:root {
  --main-site-color: #21243D;
  --link-color: #8695A4;
  --main-background-color: #ffffff;
  --hover-color: #FF6464;
}

body {
  font-family: "Heebo", sans-serif;
  color: var(--main-site-color);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 380px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
  }
}
@media screen and (min-width: 860px) {
  .container {
    width: 860px;
  }
}

.blog-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 380px) {
  .blog-container {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
  }
}
@media screen and (min-width: 740px) {
  .blog-container {
    width: 740px;
  }
}

.header-section {
  padding-top: 27px;
}
.header-section .header-container {
  margin: 0 auto;
}
@media screen and (max-width: 859px) {
  .header-section {
    display: none;
  }
}

@media screen and (min-width: 860px) and (max-width: 947px) {
  .header-container {
    max-width: 947px;
  }
}
@media screen and (min-width: 860px) {
  .header-section {
    padding-right: 25px;
  }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header-list__item:not(:first-child) {
  margin-left: 33px;
}

.header-list__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.29;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 250ms color linear;
  transition: 250ms color linear;
}
.header-list__link:hover {
  color: var(--hover-color);
}
.header-list__link.current {
  color: var(--hover-color);
}

@media screen and (min-width: 859px) {
  .header-container {
    min-width: 859px;
  }
}
@media screen and (min-width: 1048px) {
  .header-container {
    width: 1048px;
  }
}
.section-hero {
  padding-top: 55px;
  padding-bottom: 60px;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 18px;
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 860px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 28px;
  background-color: var(--main-site-color);
  border: 1.6px solid #21243D;
  -webkit-transition: 250ms background-color linear, 250ms border linear;
  transition: 250ms background-color linear, 250ms border linear;
}
.menu-btn:hover .menu-btn__span {
  background-color: var(--hover-color);
  border: 1.6px solid var(--hover-color);
}
.menu-btn__span::before, .menu-btn__span::after {
  position: absolute;
  content: "";
  left: -2px;
  width: 28px;
  background-color: var(--main-site-color);
  border: 1.6px solid #21243D;
  -webkit-transition: 250ms background-color linear, 250ms border linear;
  transition: 250ms background-color linear, 250ms border linear;
}
.menu-btn:hover .menu-btn__span::before, .menu-btn:hover .menu-btn__span::after {
  background-color: var(--hover-color);
  border: 1.6px solid var(--hover-color);
}
.menu-btn__span::before {
  top: 10px;
}
.menu-btn__span::after {
  bottom: 10px;
}

.burger-menu-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 300ms -webkit-transform linear;
  transition: 300ms -webkit-transform linear;
  transition: 300ms transform linear;
  transition: 300ms transform linear, 300ms -webkit-transform linear;
  overflow: hidden;
}
.burger-menu-wrapper.is-open {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger-menu-container {
  padding-top: 300px;
}

.menu-btn-close {
  position: absolute;
  top: 20px;
  right: 18px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-btn-close__span {
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 28px;
  background-color: var(--main-site-color);
  border: 1.6px solid #21243D;
  -webkit-transition: 250ms background-color linear, 250ms border linear;
  transition: 250ms background-color linear, 250ms border linear;
}
.menu-btn-close:hover .menu-btn-close__span {
  background-color: var(--hover-color);
  border: 1.6px solid var(--hover-color);
}
.menu-btn-close__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  width: 28px;
  background-color: var(--main-site-color);
  border: 1.6px solid #21243D;
  -webkit-transition: 250ms background-color linear, 250ms border linear;
  transition: 250ms background-color linear, 250ms border linear;
}
.menu-btn-close:hover .menu-btn-close__span::before {
  background-color: var(--hover-color);
  border: 1.6px solid var(--hover-color);
}

.header-burger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-burger-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.header-burger-list__item--top {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-transition: 500ms -webkit-transform ease-in;
  transition: 500ms -webkit-transform ease-in;
  transition: 500ms transform ease-in;
  transition: 500ms transform ease-in, 500ms -webkit-transform ease-in;
}
.is-open .header-burger-list__item--top {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-burger-list__item--middle {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: 500ms -webkit-transform ease-in;
  transition: 500ms -webkit-transform ease-in;
  transition: 500ms transform ease-in;
  transition: 500ms transform ease-in, 500ms -webkit-transform ease-in;
}
.is-open .header-burger-list__item--middle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-burger-list__item--bottom {
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
  -webkit-transition: 500ms -webkit-transform ease-in;
  transition: 500ms -webkit-transform ease-in;
  transition: 500ms transform ease-in;
  transition: 500ms transform ease-in, 500ms -webkit-transform ease-in;
}
.is-open .header-burger-list__item--bottom {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-burger-list__link {
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.24;
  color: #000000;
  -webkit-transition: 250ms color linear;
  transition: 250ms color linear;
}
.header-burger-list__link:hover {
  color: var(--hover-color);
}
.header-burger-list__link.current {
  color: var(--hover-color);
}

.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  margin-top: 30px;
  height: auto;
}

.hero-title {
  margin-bottom: 21px;
  padding: 0 17px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: var(--main-site-color);
}

.hero-text {
  margin-bottom: 27px;
  padding: 0 13px;
  line-height: 1.24;
  text-align: center;
  color: var(--main-site-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  width: 208px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.45;
  color: var(--main-background-color);
  background-color: var(--hover-color);
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 250ms background-color linear;
  transition: 250ms background-color linear;
}
.hero-button:hover {
  background-color: #fa4e4e;
}

@media screen and (min-width: 860px) {
  .section-hero {
    padding-top: 140px;
    padding-bottom: 12px;
  }
  .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0 auto;
    padding-bottom: 68px;
    border-bottom: 2px solid #C4C4C4;
  }
  .hero-img {
    margin: 0;
    display: block;
    height: auto;
    width: 243px;
    height: 243px;
    margin-left: 113px;
  }
  .hero-title {
    margin-bottom: 40px;
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.24;
    text-align: left;
    color: var(--main-site-color);
  }
  .hero-title__span {
    display: block;
    width: 65%;
  }
  .hero-text {
    margin-bottom: 27px;
    padding: 0;
    line-height: 1.24;
    text-align: left;
    color: var(--main-site-color);
  }
  .hero-button {
    margin: 0;
    width: 208px;
    height: 47px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.45;
    color: var(--main-background-color);
    background-color: var(--hover-color);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    -webkit-transition: 250ms background-color linear;
    transition: 250ms background-color linear;
  }
  .hero-button:hover {
    background-color: #fa4e4e;
  }
}
.sectino-posts {
  padding-top: 25px;
  padding-bottom: 38px;
  background-color: #EDF7FA;
}

.section-posts-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 3.33;
  color: var(--main-site-color);
  text-align: center;
}

.view-link {
  display: none;
}

@media screen and (max-width: 859px) {
  .text-wrapper {
    max-width: 354px;
    margin: 0 auto;
    padding: 12px 19px 21px 20px;
    background-color: var(--main-background-color);
    -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
  }
  .text-wrapper:not(:last-child) {
    margin-bottom: 17px;
  }
}
.text-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.32;
  margin-bottom: 12px;
}

.text-row {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 19px;
}

.date-text {
  line-height: 1.5;
}
.date-text:not(:last-child) {
  margin-right: 48px;
}

.date-text__text-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 113px;
  display: block;
  height: 21px;
  background-color: #000;
  border: 1px solid #000000;
}

.main-text-wrapper {
  line-height: 1.5;
}

@media screen and (min-width: 860px) {
  .text-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -20px;
  }
  .text-wrapper {
    width: calc((100% - 40px) / 2);
    margin-right: 20px;
    padding: 12px 19px 21px 20px;
    background-color: var(--main-background-color);
    -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
  }
  .text-up-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-posts-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 3.33;
    color: var(--main-site-color);
  }
  .view-link {
    display: block;
    line-height: 1.5;
    text-decoration: none;
    color: rgb(0, 168, 204);
    -webkit-transition: 250ms color linear;
    transition: 250ms color linear;
  }
  .view-link:hover {
    color: var(--hover-color);
  }
}
.section-featured {
  padding-top: 25px;
  padding-bottom: 38px;
}

.text-featured-wrapper {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 17px;
}

.img-wrapper {
  max-width: 344px;
  margin-bottom: 17px;
}

.img-wrapper__img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper-text-down-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 25px;
}

.text-down-img {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.block-of-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 62px;
  height: 25px;
  margin-right: 22px;
  font-size: 16px;
  font-weight: 900;
  line-height: 3.75;
  color: #FFFFFF;
  background: #142850;
  border-radius: 16px;
}

.link-text {
  text-decoration: none;
  color: var(--link-color);
  line-height: 1.5;
  -webkit-transition: 250ms color linear;
  transition: 250ms color linear;
}
.link-text:hover {
  color: var(--hover-color);
}

.block-on-small-view {
  display: none;
}

@media screen and (min-width: 860px) {
  .section-posts-title {
    text-align: left;
  }
  .text-featured-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
  .text-featured-wrapper:not(:last-child) {
    margin-bottom: 46px;
  }
  .img-wrapper {
    width: 246px;
    margin-right: 18px;
    margin-bottom: 0;
  }
  .text-grid {
    -ms-flex-negative: 8;
        flex-shrink: 8;
  }
  .block-of-number {
    margin-right: 36px;
    font-size: 18px;
  }
  .text-down-img {
    font-size: 30px;
    line-height: 1.46;
  }
  .link-text {
    font-size: 20px;
    line-height: 1.45;
  }
}
.blog-header-section {
  padding-top: 27px;
}
@media screen and (max-width: 739px) {
  .blog-header-section {
    display: none;
  }
}

.blog__section-hero {
  padding-top: 24px;
}

.blog-title {
  margin-top: 24px;
  margin-bottom: 18px;
  font-size: 30px;
  font-weight: 700;
  line-height: 2;
}

.blog-text-wrapper {
  margin: 0 auto;
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}
@media screen and (max-width: 739px) {
  .blog-text-wrapper {
    max-width: 354px;
  }
}
.blog-text-wrapper:not(:last-child) {
  margin-bottom: 18px;
}

.date-text-color {
  color: #8695A4;
}

.blog-text-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.46;
}

@media screen and (min-width: 740px) {
  .blog-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.36;
  }
  .blog-text-title {
    font-size: 30px;
  }
  .blog-text-wrapper .date-text__text-row {
    font-size: 20px;
  }
  .date-text-color {
    font-size: 20px;
  }
  .blog-text-wrapper .date-text__text-row::after {
    left: 136px;
  }
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 54px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list__item:not(:last-child) {
  margin-right: 35px;
}

.footer-list__icon {
  fill: var(--main-site-color);
  -webkit-transition: 250ms fill linear;
  transition: 250ms fill linear;
}
.footer-list__link:hover .footer-list__icon {
  fill: rgba(255, 100, 100, 0.6);
}

.footer-text {
  display: none;
}

@media screen and (min-width: 860px) {
  .footer-list {
    margin-bottom: 26px;
  }
  .footer-text {
    display: block;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */